.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.img {
  position: relative;
  width: 200px;
  height: 300px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7);
}

.name {
  text-align: center;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: bold;
  color: #000000;
}
